<div class="d-flex flex-column align-items-center">
    {{#if edit}}
    <h1 class="text-light">Edit Route</h1>
    <h2>Route Name</h2>
    <input type="text" id="new-route-name" data-location="{{location_id}}" value="{{route.name}}" data-route="{{route.id}}">
    <h2>Add new stops sequence</h2>
    {{else}}
    <h1 class="text-light">Add Route</h1>
    <h2>Route Name</h2>
    <input type="text" id="new-route-name" data-location="{{location_id}}">
    <h2>Add stops</h2>
    {{/if}}
    
    <div class="d-flex flex-row justify-content-center flex-wrap">
        {{#each stops as |stop|}}
        <button type="button" class="btn btn-primary add-stop-2-route m-2" data-id="{{stop.id}}" data-name="{{stop.name}}">{{stop.name}}</button>
        {{/each}}
    </div>
    <div id="add-spps" class="d-flex flex-column align-items-center">
        <h3>Added:</h3>
    </div>
    <button type="button" id="add-new-route-btn" class="btn btn-light mt-2">Submit</button>
</div>