<div class="d-flex flex-column align-items-center">
    <h1 class="text-light">{{location.name}}</h1>
    <div class="d-flex flex-column align-items-center">
        <h2>Stops</h2>
        <div class="list-group">
            {{#each stops as |stop|}}
            <button type="button" class="list-group-item list-group-item-action stop-btn" data-id="{{stop.id}}">{{stop.name}}</button>
            {{/each}}
        </div>
        <h2>Routes</h2>
        <div class="list-group">
            {{#each routes as |route|}}
            <button type="button" class="list-group-item list-group-item-action route-btn" data-id="{{route.id}}">{{route.name}}</button>
            {{/each}}
        </div>
    </div>
    <div class="d-flex flex-column align-items-center mt-2 bg-dark p-2 border border-dark rounded">
        <h2 class="text-light">Transit Map</h2>
        <div id="graph2" class="bg-light"></div>
    </div>
</div>